/*
Color code
Vert : cfd500
Marron : 5e3d1a
*/

@font-face {
    font-family: 'KGBeneathYourBeautiful';
    src: url('../fonts/KGBeneathYourBeautiful.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #f6f7d3 url("../img/background_unlimited.png") repeat-x top;
    font-family: 'Roboto', Arial, sans-serif;
    color: #5e3d1a;
    font-weight: 300;
}

.main {
    background: url("../img/background.png") no-repeat center top;
}

@media (min-width: 1200px) {
    .container {
        width: 1070px;
    }
}

.masthead {
    margin-top: 0px;
}

.nav {
    background: #fff;
    padding-left: 100px;
    padding-right: 100px;
}

@media (min-width: 992px) {
    .masthead {
        background: url("../img/background_header.png") no-repeat center bottom;
    }

    .nav {
        background: url("../img/background_menu.png") no-repeat center bottom;
    }
}

.logo {
    background: url("../img/logo_small.png") no-repeat center bottom;
    height: 114px;
    text-align: center;
}

@media (min-width: 384px) {
    .masthead {
        margin-top: 40px;
        background: url("../img/background_header_light.png") no-repeat center bottom;
    }

    .logo {
        background: url("../img/logo.png") no-repeat center bottom;
        /*width: 396px;*/
        height: 225px;
        padding-bottom: 8px;
    }
}

.central-wrapper {
    background: url("../img/background_content_wrapper.png") repeat-y center;
}

.central {
    background: url("../img/background_content.png") no-repeat center top;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Header */
.page-header {
    padding-bottom: 0px;
    margin: 40px 0 20px;
    border-bottom: 2px solid #5e3d1a;
}

/* Footer */
.footer {
    /*width: 1265px;*/
    height: 180px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    background: url("../img/background_footer_grid.png") no-repeat center top;
}

.footer-rabbit {
    width: 146px;
    height: 105px;
    margin-right: auto;
    margin-left: auto;
    background: url("../img/background_footer_rabbits.png") no-repeat center top;
}

.footer > p {
    text-align: center;
    padding-top: 40px;
    font-size: 12px;
}

/* Link */
a {
    color: #cfd500;
}
a:hover {
    color: #cfd500;
    text-decoration: underline;
}

/* h1 , h2, ... */
h1, h2, h2 > a, h2 > span {
    font-size: 36px;
    font-style: normal;
    color: #5e3d1a;
    letter-spacing: -2px;
}

/* Main marketing message and sign up button */
/*.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}*/

/* Customize the nav-justified links to be fill the entire space of the .navbar */
@media (min-width: 768px) {
    .nav > li {
        background: url("../img/menu_separator.png") no-repeat left 11px;
        width: 200px;
    }

    .nav > li:first-child {
        background: none;
    }

    .nav > li > a {
        padding: 8px 15px 8px 28px;
    }
}

.nav > li > a {
    padding: 8px 15px 8px 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #cfd500;
    text-decoration: underline;
    background: none;
}

.nav-justified > li > a {
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    font-family: 'KGBeneathYourBeautiful';
    color: #5e3d1a;
    font-size: 16px;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
}
.nav-justified > li:first-child > a {

}
.nav-justified > li:last-child > a {

}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {

    }
    .nav-justified > li:first-child > a {

    }
    .nav-justified > li:last-child > a {

    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .logo,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Form */
.btn-primary, .btn-primary:hover {
    color: #cfd500;
    font-weight: bold;
    background-color: #5e3d1a;
    border-color: #5e3d1a;
}

.form-horizontal .control-label {
    text-align: left;
}

.controls <